body {
    background-color: #292e6e;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #6d4488;
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    max-width: 250px;
    border-radius: 8px;
}

.about-title {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #020303;
}

.name-text {
    font-size: 32px;
    font-weight: bold;
    color: #04d3d3;
}

.intro-text {
    font-size: 18px;
    color: #fff9f9;
    margin-top: 10px;
}

hr {
    color: #ebe8e8;
    size: 15px;
}
.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
}

.experience-list {
    padding-left: 0;
    font-size: 18px;
    color: #ffebeb;
}

.experience-list li {
    margin-bottom: 10px;
}

.hobby-pic {
    border-style: solid;
    border-color: #04d3d3;
    border-width: 10px;
}
.contact-info {
    font-size: 18px;
    color: #dbcfcf;
    margin-top: 30px;
}

.row {
    border-color: #dbcfcf;
    border-style: solid;
}